name: Pull Requests

on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev
      - master

jobs:
  build:
    name: Build Flattery
    uses: ./.github/workflows/build-project.yml

  test:
    name: Test Flattery
    uses: ./.github/workflows/run-test-suite.yml
