name: Pull Request Runner

on:
  workflow_dispatch:
  pull_request:
    branches:
      - dev
      - master
  
jobs:
  build:
    name: Build Flattery
    uses: ./.github/workflows/build-project.yml
    with:
      CONFIGURATION: Release
      DOTNET_VERSION: 8.0.x
      PROJECT_PATH: ./src/Flattery/Flattery.csproj

  test:
    name: Test Flattery
    uses: ./.github/workflows/run-test-suite.yml
    with:
      CONFIGURATION: Release
      DOTNET_VERSION: 8.0.x
      PROJECT_PATH: ./test/Flattery.Tests/Flattery.Tests.csproj
